.skills-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.skills-container h1 {
  font-size: 3rem;
  color: orangered;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.skill-item {
  background: #fff;
  border-radius: 15px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.skill-item img {
  width: 80px;
  height: 80px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr); /* Adjust number of columns for medium screens */
  }
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr); /* Adjust number of columns for smaller screens */
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Adjust number of columns for small screens */
  }
}

@media (max-width: 400px) {
  .skills-grid {
    grid-template-columns: repeat(1, 1fr); /* Single column for very small screens */
  }
}



